<!-- 

    TODOs
    1. Add validation. https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-7.0
    2. Replace submit button with oninput event. 
    3. Find how to reduce duplication by abstracting select input into different component
    4. Make more pretty. https://jonhilton.net/pimp-up-blazor-edit-forms-with-tailwind-css/ or more AI
    
-->

<!-- instead of dereferencing potential null userInput, we can just not render the form until it's initialised -->
@if (userInput == null)
{
    <p>Loading...</p>
    return;
}
else
{
    <EditForm Model="@userInput" FormName="enterInput" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator />
        <div class="calculator-card">
            <div class="row g-3 align-items-end calculator-row">

                <!-- Select starting exchange rate -->
                <div class="calculator-field calculator-field--select">
                    <label class="form-label" for="starting-rate">Starting rate</label>
                    <InputSelect id="starting-rate" class="form-select" @bind-Value="userInput.StartingRate">
                        @foreach (var rate in allRates)
                        {
                            <option value="@rate">@rate</option>
                        }
                    </InputSelect>
                </div>

                <!-- Select amount to convert -->
                <div class="calculator-field calculator-field--amount">
                    <label class="form-label" for="amount">Amount</label>
                    <InputNumber id="amount" class="form-control" @bind-Value="userInput.Amount" />
                </div>

                <div class="calculator-field calculator-field--select">
                    <label class="form-label" for="target-rate">Target rate</label>
                    <InputSelect id="target-rate" class="form-select" @bind-Value="userInput.TargetRate">
                        @foreach (var rate in allRates)
                        {
                            <option value="@rate">@rate</option>
                        }
                    </InputSelect>
                </div>

                <!-- Target exchange -->
                <div class="calculator-field calculator-action">
                    <button type="submit" class="btn btn-primary calculator-button">Convert</button>
                </div>
            </div>
        <ValidationSummary />
        </div>
    </EditForm>
}

@code {

    private ExchangeRate[] allRates = Enum.GetValues<ExchangeRate>();
    
    // we have to tell blazor the object that contains all the data entered by the user
    // it knows userInput is the model but not how the data arrives into the server so we have to use extra attribute
    // this is populated by blazor when the form is submitted, so we can use it in the submit handler
    [SupplyParameterFromForm]

    // https://learn.microsoft.com/en-us/aspnet/core/diagnostics/bl0008?view=aspnetcore-10.0
    // OnInitialized{Async} lifecycle methods used to avoid warnings
    public ConverterInput? userInput { get; set; }

    protected override void OnInitialized() => userInput ??= new() {
        StartingRate = allRates[0],
        Amount = 100,
        TargetRate = allRates[allRates.Length - 1]
    };

    // TODO: we could inject the converter service here instead of creating a new instance, but for now this is fine
    private Converter converter = new();

    private void HandleSubmit() {

        ArgumentNullException.ThrowIfNull(userInput, nameof(userInput));

        double result = converter.submit(userInput);

        // from tutorial, if we injected NavigationManager we could navigate to new page
        // by doing: NavigationManager.NavigateTo("/");
        // but we just log the result for now, and also I don't think for now we want to navigate to any other page
    }
}
